.Dashboard {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  // overflow: auto;
  width: 100%;
  position: absolute;
  // top: 78px;
}

.dashboard_wrapper {
  width: 100%;
  position: relative;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.background_group_hello.responsive_image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main {
  // padding: 40px;
  position: relative;
}

.background_group_hello {
  width: auto;
  // height: 250px;
  overflow: hidden;
  position: absolute;
  border-radius: 0 0 22px 22px;
}

.background_group_hello img {
  width: 100%;
  height: 100%;
}

.group_hello {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.group_Dashboard {
  width: 100%;
}

.hello_text {
  color: var(--FFFFFF-Bg-1, #fff);
  text-align: center;

  /* H1 40px Bold Inter */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  color: var(--FFFFFF-Bg-1, #fff);
  text-align: center;

  /* H4 23px Medium Inter */
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 29.9px */
}

.text {
  color: var(--8A92A6-Text-Color-2, #8a92a6);

  /* H6 16px Regular Inter */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  /* 28px */
}

.text_b {
  color: var(--232D42-Text-Color-1, #232d42);

  /* H5 19px Medium Inter */
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  /* 33.25px */
}

.text_13 {
  // color: var(--FFFFFF-Bg-1, #FFF);
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  /* 16.9px */
}

.text_11 {
  // color: var(--FFFFFF-Bg-1, #FFF);
  font-size: 11px;
  font-weight: 400;
}

.title_chart {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 90px;
  flex: 1;
}

.group_chart {
  display: flex;
  width: 100%;
  gap: 40px;
  margin: 40px 0px;
  overflow-x: auto;
  scrollbar-width: none;
}

.group_chart::-webkit-scrollbar {
  display: none;
}

.statistical_chart {
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  gap: 24px;
}

.statistical_chart canvas {
  flex: 1;
  width: 100% !important;
  height: auto !important;
}

.pie_chart {
  width: 68px;
  height: 68px;
  flex-shrink: 0;
}

//-----------------------------------
ul {
  display: flex;
  // margin-top: 40px;
}

li {
  list-style-type: none;
}

// table {
//   margin-top: 30px;
//   margin-bottom: 50px;
//   width: 100%;
//   border-collapse: collapse;
//   display: flex;
//   flex-direction: column;
// }

// tr {
//   display: flex;
//   flex-direction: row;
// }

// th,
// td {
//   flex: 1;
//   text-align: center;
//   border: 1px solid #ddd;
//   padding: 8px;
// }

// th {
//   background-color: #f2f2f2;
//   font-weight: bold;
//   color: #333;
// }

// td {
//   height: 100px;
//   background-color: rgb(161, 205, 208);
// }

// td:hover {
//   background-color: #e6e6e6;
// }

// .select_month {
//   margin-top: 40px;
// }

// .select_month,
// .workout {
//   /* padding: 40px; */
//   width: 100%;
//   border-radius: 10px;
//   background-color: white;
//   overflow: hidden;
// }

// .select_month li,
// .workout li {
//   flex: 1;
//   text-align: center;
//   padding: 8px;
// }

// .select_month .month {
//   border-left: 1px solid #ddd;
// }

// .select_month .month:hover {
//   background: #c4ccf8;
//   color: #3a57e8;
// }

// .today .workout {
//   width: 100%;
//   flex: 1;
//   background-color: white;
//   border-radius: 10px;
//   /* padding: 8px; */
//   overflow: hidden;
// }

// .currentMonth {
//   background-color: white;
// }


.LineChart {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

// .graphic_side {
//   flex: 1;
// }

.visa {
  // width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.card {
  border-radius: 24px;
  border: 2px solid #fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(32px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  color: white;
}

.background_card {
  // width: 100%;
  height: auto;
  background-image: url("../../assets/images/dashboard/Graphic Side.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card_number {
  word-spacing: 25px;
}

//-----------------------------------
// ul{
//     display: flex;
//     // margin-top: 40px;
// }

// li{
//     list-style-type: none;
// }

// table {
//     margin-top: 40px;
//     width: 100%;
//     border-collapse: collapse;
//     display: flex;
//     flex-direction: column;

//   }

//   tr {
//     display: flex;
//     flex-direction: row;
//   }

//   th,
//   td {
//     flex: 1;
//     text-align: center;
//     border: 1px solid #ddd;
//     padding: 8px;
//   }

//   th {
//     background-color: #f2f2f2;
//     font-weight: bold;
//     color: #333;
//   }

//   td {
//     height: 100px;
//     background-color: rgb(161, 205, 208)
//   }

//   td:hover {
//     background-color: #e6e6e6;
//   }

//   .select_month{
//     margin-top: 40px;
//   }

//   .select_month ,.workout{
//     /* padding: 40px; */
//     width: 100%;
//     border-radius: 10px;
//     background-color: white;
//     overflow: hidden;
//   }

//   .select_month li ,.workout li{
//     flex: 1;
//     text-align: center;
//     padding: 8px;
//   }

//   .select_month .month{
//     border-left: 1px solid #ddd;
//   }

//   .select_month .month:hover{
//     background: #C4CCF8;
//     color: #3A57E8;
//   }

//   .today .workout{
//     width: 100%;
//     flex: 1;
//     background-color: white;
//     border-radius: 10px;
//     /* padding: 8px; */
//     overflow: hidden;
//   }

//   .currentMonth{
//     background-color: white;
//   }
