.home {
    padding: 40px;
    background: #f7f7f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home ul {
    padding-left: 0;
}

.list_menu {
    // width: 300px;
    position: relative;
background-color: white;
border-radius: 8px;
}

.text {
    // color: var(--8A92A6-Text-Color-2, #8a92a6);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%;
}

.text_16{
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color:var(--8A92A6-Text-Color-2, #8a92a6);
}

.flex {
    display: flex;
    width: 100%;
}

.center{
    justify-content: center;
}


.generalGenre {
    display: block;
    background-color: white;
    padding-left: 0;
    border-radius: 8px;
    overflow: hidden;
    // width: 70%;
}

.content {
    width: 920px;
    height: auto;
    background-color: white;
    display: flex;

    position: absolute;
    right: -920px;
    top: 0;
    // padding: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
}


.title {
    color: red;
}


.items {
    // display: block;
    width: 200px;
    position: absolute;
    right: -200px;
    top: 0;
    border-radius: 8px;
    // padding: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.items li {
    margin: 10px;
}

.items li:hover {
    color: red;
}

.generalGenre>li {
    padding: 5px 10px;
}

.generalGenre>li:hover {
    background-color: red;
    color: white;
}

.generalGenre li:hover .genre {
    display: flex;
    gap: 20px;
}

.generalGenre li:hover .genre>li>ul {
    display: block;
}

.generalGenre ul {
    display: none;
}

.showItem {
    position: relative;
}

.showItem:hover>div {
    color: red;
}

.showItem:hover ul {
    display: block;
}

.genre {
    margin: 10px 20px;
    height: 450px;
    flex-direction: row;
    flex-wrap: wrap;
}


.grid_container {
    display: grid;
    grid-template-columns: 300px repeat(2, 300px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    width: 900px;
    height: 470px;
}

.griditem {
    background-color: lightblue;
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.griditem img {
    width: 100%;
    height: 100%;
}

.griditem > div{
    width: 100%;
    height: 100%;
}

.griditem:first-child {
    grid-column: span 2;
    grid-row: span 2;
}

::-webkit-scrollbar {
    width: 10px;
    /* Chiều rộng của thanh cuộn */
}

.griditem > div:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

.griditem > div::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}