.home {
    padding: 40px;
    background: #f7f7f7;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    // width: 80%;
}

.layout {
    flex-direction: column;
    // width: 80%;
}

.home ul {
    // padding-left: 0;
    padding: 0;
    margin: 0;
}

.list_menu {
    // width: 300px;
    position: relative;
    background-color: white;
    border-radius: 8px;
    flex: auto;
}

.text {
    // color: var(--8A92A6-Text-Color-2, #8a92a6);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%;
}

.text_16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: var(--8A92A6-Text-Color-2, #8a92a6);
}

.icon_white {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.flex {
    display: flex;
    // background-color: white;
    // width: 100%;
}


.center {
    justify-content: center;
    align-items: center;
}


.generalGenre {
    display: block;
    background-color: white;
    padding-left: 0;
    border-radius: 8px;
    overflow: hidden;
    // width: 70%;
}

.content {
    width: 920px;
    height: auto;
    background-color: white;
    display: flex;
    z-index: 2;

    position: absolute;
    right: -920px;
    top: 0;
    // padding: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
}

.title {
    color: red;
}


.items {
    // display: block;
    width: 200px;
    position: absolute;
    right: -200px;
    top: 0;
    border-radius: 8px;
    // padding: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.items li {
    margin: 10px;
}

.items li:hover {
    color: red;
}

.generalGenre>li {
    padding: 5px 10px;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 180px;
}

.generalGenre>li:hover {
    background-color: red;
    color: white;
}

.generalGenre li:hover .genre {
    display: flex;
    gap: 20px;
}

.generalGenre li:hover .genre>li>ul {
    display: block;
}

.generalGenre ul {
    display: none;
}

.showItem {
    position: relative;
}

.showItem:hover>div {
    color: red;
}

.showItem:hover ul {
    display: block;
}

.genre {
    margin: 10px 20px;
    height: 470px;
    flex-direction: row;
    flex-wrap: wrap;
}


.group_advertisement {
    display: grid;
    grid-template-columns: 300px repeat(2, 300px);
    grid-template-rows: repeat(2, 150px);
    background-color: white;
    gap: 10px;
    // width: 900px;
    flex: 1;
    height: 470px;
}

.group_advertisement_02 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% repeat(3, 25%);
    grid-template-rows: 150px;
    // background-color: white;
    max-width: 1150px;
    height: auto;
    background-color: white;
    gap: 10px;
}

.advertisement_item {
    position: relative;
    background-color: lightblue;
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.advertisement_item img {
    width: 100%;
    height: 100%;
}

.advertisement_item>div {
    width: 100%;
    height: 100%;
}

.advertisement_big_item {
    grid-column: span 2;
    grid-row: span 2;
}

::-webkit-scrollbar {
    width: 10px;
    /* Chiều rộng của thanh cuộn */
}

.advertisement_item>div:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

.advertisement_item>div::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}

.products {
    margin-top: 25px;
}

.title_product_promotion,
.title_product_promotion li {
    width: 100%;
    text-align: center;
}

.product_promotion>ul li {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    border-radius: 8px 8px 0px 0px;
}

.product_promotion>ul li:hover {
    background-color: #b31c2b;
    color: white;
}

.click_color {
    background-color: #b31c2b;
    color: white;
}

.background {
    background-image: url(../../assets/home/background/gs-2023.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
    justify-content: end;

    // height: 200px;
}

.group_product {
    // width: 80%;
    justify-content: end;
    gap: 10px;

}

.product {
    position: relative;
    // overflow: hidden;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    flex: 0.25;
    max-width: 220px;
}

.other_information {
    justify-content: space-between;
    font-size: 10px;
}

.other_information p {
    color: #b31c2b;
}

.name_product {
    font-size: 14px;
    font-weight: 600;
}

.price_product {
    font-size: 16px;
    font-weight: 600;
    color: #b31c2b;
}

.discount_product {
    display: flex;
    width: 60px;
    height: 35px;
    padding: 10px;
    // align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: 20px;
    font-weight: 600;

    color: white;
    background-image: url(../../assets/home/background/discount.png);
    background-repeat: no-repeat;
    background-size: cover;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.detail_product {
    width: 320px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    position: absolute;
    // top: -2px;
    bottom: -60%;
    right: -320px;
    z-index: 2;
    display: none;
}

.product:last-child .detail_product {
    left: -320px;
}

.detail_product .name_product {
    padding: 15px;
    background-color: #b31c2b;
    border-radius: 8px 8px 0px 0px;
    color: white;
}

.detail_product ul {
    padding: 20px;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.detail_product ul li {
    margin-top: 5px;
}


.title_product {
    background-color: #b31c2b;
    color: white;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 8px;
}

.parameter_product li,
.promotions_product li,
.promotion_product li {
    font-size: 13px;
    font-weight: 400;
}

.promotion_package_product {
    padding: 5px 20px;
}

.title_promotion_product {
    color: #b31c2b;
    margin: 5px 20px;
    font-weight: 600;

}

.hover_detail:hover .detail_product {
    display: block;
}

.information {
    display: flex;
    flex-direction: column;
}

.category_product {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

// .category_product .product {
//     // overflow: hidden;
// }

.category {
    width: 100%;
}

.title_category {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.category_name {
    font-size: 16px;
    font-weight: 600;
}

.group_item_category li {
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 15px;

}

.group_item_category li:hover {
    color: white;
    background-color: #b31c2b;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);

}

.cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #8a92a6;
    border-radius: 50%;
    padding: 10px;
}

.cart:hover {
    background-color: #b31c2b;
}

// ___________________________________________________________________

.tile_list_product {
    gap: 20px;
    font-size: 14px;
    font-weight: 450;
    justify-content: normal;

}

.block_list_product {
    max-width: 80%;

}

.block_filter {
    flex: 1;
}

.product_portfolio {
    padding: 10px 25px;
    background-color: #eb1f27;
    // color: white;
    border-radius: 100px;
    position: relative;
}

.menu_Category {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0px;
    height: 400px;
    bottom: -450px;
    transition: visibility 0.2s ease, opacity 0.2s ease;

}

.product_portfolio>.flex {
    gap: 20px;
    color: white;

}

.product_portfolio:hover .menu_Category {
    opacity: 1;
    bottom: -400px;
    visibility: visible;
    transition: bottom 0.2s ease;
    z-index: 10;
}

.list_product {
    // border: 1px ;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: 12px;
    // padding: 20px;
    background-color: white;
}

.list_product .group_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    padding: 0px 20px;
}

.list_product .group_product .product {
    flex-basis: calc(25% - 30px);
    border: 1px solid #a2a2a2;
}

.list_product .product:hover {
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.arrange {
    margin-bottom: 20px;
}

.arrange div:last-child {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
}

.arrange ul {
    gap: 15px;
    padding: 10px;
}

.arrange ul li {
    border: 1px solid #eb1f27;
    border-radius: 100px;
    padding: 3px 15px;
}

.arrange ul li:hover{
    background-color: #eb1f27;
    color: white;
}

.arrange ul:last-child li:first-child {
    border: 1px solid #e8e8e8;
    background: #f7f7f7;
}

.arrange select {
    border: none;
    background: none;
}

.arrange ul:last-child li:not(:first-child) {
    border: none;
    background-color: #dbdbdb;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile_arrange {
    // padding: 20px 0px 0px 20px;
    // padding: 10px 25px;
    gap: 10px;
    color: white;
    background-color: #eb1f27;
    // width: 250px;
    border-radius: 12px 0px 12px 0px;
    padding: 20px;
}

.view_type .product{
    flex-basis: calc(50% ) !important;
    display: flex;
    gap: 10px;
    // max-width: 400px;
    max-width: 50% ;
}

.viewType{
    background-color: #eb1f27 !important;
}

// .view_type .product {
//     flex-basis: calc(50% - 10px);
// }
// .arrange img{
//     width: 100%;
//     height: auto;
// }

// ___________________________________________________________________________

.event {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 11;
    background-color: #000000ba;
    flex-direction: column;
}

.event>div {
    width: 40%;
}

.close_event {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.close_event img{
    margin: 0px;
    width: 30px;
    height: auto;
}