// * {
//   margin: 0px;
//   padding: 0px;
// }

ul {
  padding: 0px;
  margin: 0px;
}

.header {
  width: 100%;
  background-color: #e10034;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header_2 {
  background-color: #ececec;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header_menu {
  // width: 100%;
  gap: 200px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0px 20px;
  position: relative;
}

.flex {
  display: flex;
}

.text {
  // color: var(--8A92A6-Text-Color-2, #8a92a6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 175%;
}

.menu {
  align-items: center;
}

.menuItem {
  padding: 5px;
}

.menuItem > div {
  // padding: 10px;
  // background-color: red;
  border-radius: 12px;
  padding: 3px 15px;
  color: white;
}

.menuItem:first-child > div,
.menuItem:nth-child(2) > div {
  background: repeating-linear-gradient(
    to right,
    #f1d113 0,
    #fef273 25%,
    #f1b01f 50%,
    #fde904 75%,
    #e5bf23 100%
  );
  color: red;
}

.menuItem:hover > div {
  background-color: #b41f24;
}

.menuItem:hover .subMenu {
  opacity: 1;

  bottom: -400px;
  visibility: visible;
  transition: bottom 0.2s ease;
  z-index: 10;
}
.subMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 400px;
  background-color: white;
  // display: block;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0;
  bottom: -430px;
  z-index: 0;
  gap: 20px;
  padding: 20px;
  transition: visibility 0.2s ease, opacity 0.5s ease;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.subMenu > li > div {
  background-color: #0d699e;
  color: white;
  // padding: 5px 10px;
  align-items: center;
  gap: 10px;
  // padding-right: 10px;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
}

.item_number {
  padding: 5px 10px;
  background-color: red;
}

.subMenuItem {
  flex-direction: column;
}

.phone {
  color: red;
}

.register_login-item a {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 110px;
  border-radius: 20px;
  padding: 3px 10px;
}
.register_login-item a:hover {
  background: #b41f24;
}
.register_login-item svg,
.register_login-item span {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.group_header_2 {
  display: flex;
  align-items: center;
  padding: 5px 0px 10px 0px;
  gap: 20px;
}

.group_header_2 > img {
  max-width: 150px;
  height: 40px;
 
}

.item_hot {
  font-size: 8px;
  gap: 10px;
}

.item_hot li {
  background-color: #949494;
  color: white;
  border-radius: 12px;
  padding: 0px 8px;
  transition: 0.2s;
  // margin: 10px 0px;
}

.item_hot li:hover {
  background-color: #b41f24;
  transition: 0.2s;
}

.group_search {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  padding: 5px;
  gap: 10px;
}

.search_by_category {
  background: #ededed;
  border-radius: 100px;
  border: 1px solid #d0cbcb;
  padding: 0 18px 0 12px;
  position: relative;
}

.search_by_category:hover .item_category {
  opacity: 1;

  bottom: -200px;
  visibility: visible;
  transition: bottom 0.2s ease;
  z-index: 10;
}

.item_category {
  position: absolute;
  height: 200px;
  overflow: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  bottom: -250px;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
}

.item_category span {
  padding: 5px 10px;
}

.item_category span:hover {
  background-color: #c7c6c6;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
}

.icon_search {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.group_other {
  background-color: #e10034;
  border-radius: 100px;
  padding: 0 20px;
  display: flex;
  color: white;
  gap: 20px;
}

.group_other .flex {
  padding: 10px 0;
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.group_other .flex::after {
  content: "";
  position: absolute;
  right: 30%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.4s linear;
}
.group_other .flex:hover:after {
  content: "";
  width: 45%;
}
.group_other .img {
  padding: 5px;
  background-color: white;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.group_other img {
  height: 100%;
  width: 100%;
}

.content {
  font-size: 13px;
  font-weight: 450;
}

.title {
  font-size: 10px;
}
.cart_count{ 
  // text-align: right;
  // color: white;
  // background-color: red;
  // border-radius: 50%;
  // padding: 0 5px;
  // position: relative;
  // top: -5px;
  // font-size: 10px;
  font-size: 10px;
    background: #970c19;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    position: absolute;
    top: 39px;
    right: 1px;
    color: white;
}
