.login_content{
    font-size: 18px;
}
.button{
    font-size: 18px;
    width:100px;
    height: 35px;
    color: white;
    margin: 10px;
}
.button:hover{
    color: white;
}
.input{
    height: 30px;
    margin-bottom: 10px;
}
