.add_product {
    padding: 40px;
}

.text {
    color: var(--8A92A6-Text-Color-2, #8a92a6);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.flex {
    display: flex;
    gap: 40px;
}

form {
    width: 100%;
}

form>div:first-child {
    width: 60%;
}

form>div:last-child {
    flex: 1;
}

.basic_information,
.other_information {
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

.title_form{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.basic_information>div:not(:first-child) {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.basic_information input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    flex: 1;
}

.basic_information label{
    min-width: 120px;
    text-align: end;
}



.other_information:not(:first-child){
    margin-top: 20px;
}

.add_product ul{
    flex-direction: column;
    margin-left:10px ;
    // flex-direction: row;
    // flex-wrap: wrap;
}
