.list_product {
    padding: 40px;
}

.list_product table {
    width: 100%;
    text-align: center;
    background-color: white;
}

.list_product table th,
.list_product table td:first-child {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center;

}

.list_product table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.list_product table tr:hover {
    background-color: #ccc;
}