.users_profile {
    width: 100%;
}

.users_profile img {
    margin: 0;
}

.text {
    color: var(--8A92A6-Text-Color-2, #8a92a6);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.title{
    font-size: 16px; 
    color: black;
}

.user {
    padding: 40px;
    position: relative;
    border-radius: 12px;
    background-color: white;
    // overflow: hidden;
    height: 20vh;
    max-height: 250px;
}

.users .flex {
    // bottom: -50px;
}

.background_user {
    // border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.detail_user {
    z-index: 2;
    position: absolute;
    bottom: -50%;
}

.base_information {

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    margin-left: 20px;
    gap: 10px;
}

.avatar_user {
    // border: 6px white solid;
    border-top: 4px dashed #ffffff;
    border-bottom: 4px solid #ffffff;
    border-left: 4px dashed #ffffff;
    border-right: 4px solid #ffffff;
    border-radius: 50%;
    height: 20vh;
    max-height: 250px;
    width: auto;
    margin: 0px;
    
}

.flex {
    display: flex;
}

.name {
    font-size: 24px;
    font-weight: 600;
    color: white;

}

.details{
    margin: 60px 0px 0px 0px;
    padding: 40px;
    gap: 40px;

}

.details > div{
border-radius: 12px;
background-color: white;
padding: 20px;
}

.other_information{
    width: 25vw;
    max-width: 500px;
}

.main_information{
    flex: 1;
}

.other_information ul {
    display: block;
}

.other_information li{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}