
.image {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background-color: hsl(222, 24%, 86%);
}
.container {
    font-size: 15px;
}
.stories {
    width: 70px;
    height: 70px;
    border-radius: 99px;
    background-color: hsl(222, 24%, 86%);
}
.profile {
    width: 130px;
    height: 130px;
    border-radius: 99px;
}
.user_post {
    width: 683px;
    height: 384px;
}
.monty_carlo {
    width: 50px;
    height: 50px;
    background-color: hsl(222, 24%, 86%);
    border-radius: 99px;
}