
.list_user {
    padding: 40px;
}

.list_user table {
    width: 100%;
    text-align: center;
    background-color: white;
}

.list_user table th,
.list_user table td:first-child {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center;

}

.list_user table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.list_user table tr:hover {
    background-color: #ccc;
}