.main_logo {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  align-items: flex-start;
  border-bottom: 1px solid var(--e9ecef-Bg-2, #e9ecef);
  /* background: var(--e9ecef-Bg-2, #E9ECEF); */
}

.hidden {
  display: none;
}

.logo {
  display: flex;
  /* width: 257px; */
  height: 76px;
  padding: 24px 32px 16px 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.logo_name {
  color: var(--232D42-Text-Color-1, #232d42);
  font-size: 33px;
  font-weight: 500;
  line-height: 130%;
}

.close_sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
  padding: 6px;
  border-radius: 50%;
  background: var(--3A57E8-Primary, #3a57e8);
  width: 24px;
  height: 24px;
}

.sidebar {
  width: 100%;
  display: inline-flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.5);
  // box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
}

.sidebar .main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .title {
  display: flex;
  width: 100%;
  padding: 8px 16px 8px 32px;
  align-items: center;
  gap: 40px;
}

.wrapper {
  width: 100%;
}
.sidebar ul {
  list-style: none;

  display: block;
  width: 100%;
  padding: 8px 12px;
}

.Sidebar_Items {
  display: flex;
  width: 100%;
  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidebar .text {
  color: var(--8A92A6-Text-Color-2, #8a92a6);
  /* H6 16px Regular Inter */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  /* 28px */
}

.sidebar li .conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sidebar li .tile {
  display: flex;
  align-items: center;
  gap: 16px;
  transform: 1s;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s; /* Để có hiệu ứng mượt mà */
}

.click_color {
  background-color: #3a57e8;
  color: #fff;
}

.click_img img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.Sidebar_Items {
  border-radius: 4px;
}

.Sidebar_Items div img {
  transition: transform 0.3s;
}

.Sidebar_Items:hover div img {
  filter: invert(62%) sepia(92%) saturate(6803%) hue-rotate(224deg)
    brightness(92%) contrast(98%);
}

.Sidebar_Items:hover {
  background: #c4ccf8;
  color: #3a57e8;
}

.text_13 {
  color: var(--8A92A6-Text-Color-2, #8a92a6);

  /* Small Texts 13px Regular Inter */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
}

.text_16_buttom {
  color: var(--8A92A6-Text-Color-2, #8a92a6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

.text_16_title {
  color: #232d42;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 36.4px */
}

.content_group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.title__img {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 77%;
  height: 2px;
  background-color: #aebfc8;
  position: absolute;
  bottom: 0;
  left: 0;
}
